@layer global, component, utility;

@layer global {
  /* source-sans-3-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/source-sans-3-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* source-sans-3-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/source-sans-3-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* Fonts */
  :root {
    --fs-14: calc(14 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-22: calc(22 / 16 * 1rem);
    --fs-24: calc(24 / 16 * 1rem);
    --fs-28: calc(28 / 16 * 1rem);
    --fs-36: calc(36 / 16 * 1rem);
    --fs-42: calc(42 / 16 * 1rem);
    --fs-48: calc(48 / 16 * 1rem);
    --fs-72: calc(72 / 16 * 1rem);

    --font-size-topnav: var(--fs-14);
    --font-size-h1: var(--fs-42);
    --font-size-h2: var(--fs-36);
    --font-size-h3: var(--fs-24);
    --font-size-button: var(--fs-18);
    --font-size-testmonial: var(--fs-24);
    --font-size-footer: var(--fs-22);

    @media (width >= calc(600 / 16 * 1rem)) {
      --font-size-topnav: var(--fs-16);
      --font-size-h1: var(--fs-72);
      --font-size-h2: var(--fs-48);
      --font-size-testmonial: var(--fs-36);
      --font-size-cta: var(--fs-28);
    }
  }

  p {
    font-size: var(--fs-18);

    &.medium {
      font-size: var(--fs-20);

      @media (width >= calc(600 / 16 * 1rem)) {
        font-size: var(--fs-24);
      }
    }

    &.large {
      font-size: var(--fs-24);

      @media (width >= calc(600 / 16 * 1rem)) {
        font-size: var(--fs-28);
      }
    }
  }

  /* Colors */
  :root {
    --c-white: hsl(0, 0%, 100%);
    --c-gray-dark: hsl(233, 14%, 25%);
    --c-purple: hsl(232, 58%, 55%);
    --c-magenta: hsl(320, 85%, 41%);
    --c-teal: hsl(180, 100%, 42%);
    --c-teal-darker: hsl(180, 100%, 37%);
    --c-transparent: transparent;

    --color-main-bg: var(--c-white);
    --color-text-light: var(--c-white);
    --color-text-dark: var(--c-gray-dark);
    --color-header-bg: var(--c-purple);
    --color-hero-bg: var(--c-purple);
    --color-button-primary-bg: var(--c-teal);
    --color-button-primary-bg-hover: var(--c-teal-darker);
    --color-button-primary-text: var(--c-gray-dark);
    --color-button-secondary-bg: var(--c-transparent);
    --color-button-secondary-bg-hover: var(--c-white);
    --color-button-secondary-border: var(--c-white);
    --color-button-secondary-text: var(--c-white);
    --color-button-secondary-text-hover: var(--color-hero-bg);
    --color-fullwidth-bg: var(--c-magenta);
    --color-cta-gradient1: var(--c-gray-dark);
    --color-cta-gradient2: var(--c-purple);
    --color-cta-gradient3: var(--c-teal);
    --color-button-cta-bg: var(--c-white);
    --color-button-cta-bg-hover: var(--c-transparent);
    --color-button-cta-border: var(--c-white);
    --color-button-cta-text: var(--c-gray-dark);
    --color-button-cta-text-hover: var(--c-white);
    --color-footer-link-hover: var(--c-purple);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    font-family: 'Source Sans 3', Arial, Helvetica, sans-serif;
    line-height: 1.3;
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
  }

  h1 {
    font-size: var(--font-size-h1);
  }

  h2 {
    font-size: var(--font-size-h2);
  }

  h3 {
    font-size: var(--font-size-h3);
  }

  a {
    text-decoration: none;
  }

  img,
  picture,
  svg {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .wrapper {
    width: min(calc(100% - 48px), calc(1200 / 16 * 1rem));
    margin-inline: auto;
    padding-block: 60px;

    @media (width >= calc(600 / 16 * 1rem)) {
      padding-block: 80px;
    }
  }

  .list {
    padding-left: 0;
    list-style: none;
  }
}

@layer component {
  /* Butttons */
  .button {
    display: inline-block;
    font-size: var(--font-size-button);
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 12px 16px;
    border-radius: 24px;
    transition: 150ms ease-in-out;
    transition-property: background-color, color;

    &.primary {
      background-color: var(--color-button-primary-bg);
      color: var(--color-button-primary-text);

      &:hover {
        background-color: var(--color-button-primary-bg-hover);
      }
    }

    &.secondary {
      background-color: var(--color-button-secondary-bg);
      color: var(--color-button-secondary-text);
      padding: 10px 14px;
      border: 2px solid var(--color-button-secondary-border);

      &:hover {
        background-color: var(--color-button-secondary-bg-hover);
        color: var(--color-button-secondary-text-hover);
      }
    }
  }

  /* Top Navigation */
  .topnav {
    background-color: var(--color-header-bg);

    .topnav__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 12px;

      @media (width >= calc(600 / 16 * 1rem)) {
        padding-block: 20px;
      }
    }

    .topnav__homelink {
    }

    .topnav__logo {
      width: calc(70 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        width: calc(128 / 16 * 1rem);
      }
    }

    .topnav__links {
      display: flex;
      gap: 20px;

      @media (width >= calc(600 / 16 * 1rem)) {
        gap: 40px;
      }
    }

    .topnav__item {
    }

    .topnav__link {
      font-size: var(--font-size-topnav);
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--color-text-light);

      &:hover {
        text-decoration: underline 2px;
        text-underline-offset: 5px;
      }
    }
  }

  /* Hero */
  .hero {
    background-color: var(--color-hero-bg);
    color: var(--color-text-light);

    .hero__wrapper {
      display: grid;
      padding-block: 30px 60px;

      @media (width >= calc(600 / 16 * 1rem)) {
        padding-block: 40px 80px;
      }

      @media (width >= calc(1000 / 16 * 1rem)) {
        grid-template-columns: 6fr 5fr;
        align-items: center;
      }
    }

    .hero__image {
      width: calc(200 / 16 * 1rem);
      margin-block-end: 40px;
      justify-self: center;

      @media (width >= calc(600 / 16 * 1rem)) {
        width: calc(483 / 16 * 1rem);
      }

      @media (width >= calc(1000 / 16 * 1rem)) {
        margin-block-end: 0;
        order: 2;
        justify-self: end;
      }
    }

    .hero__text {
    }

    .hero__title {
      margin-block-end: 12px;

      @media (width >= calc(600 / 16 * 1rem)) {
        margin-block-end: 20px;
      }
    }

    .hero__content {
      margin-block-end: 40px;
      max-width: 40ch;
    }

    .hero__buttons {
      display: flex;
      gap: 20px;
    }
  }

  /* Features */
  .features {
    .features__wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @media (width >= calc(1000 / 16 * 1rem)) {
        flex-direction: row;
        gap: 80px;
      }
    }

    .features__item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      text-align: center;

      @media (width >= calc(1000 / 16 * 1rem)) {
        align-items: flex-start;
        text-align: left;
      }
    }

    .features__icon {
    }

    .features__title {
      line-height: 1;
    }

    .features__description {
      max-width: 40ch;
    }
  }

  /* Fullwidth-Feature */
  .fw-feature {
    background-color: var(--color-fullwidth-bg);
    color: var(--color-text-light);
    text-align: center;

    .fw-feature__wrapper {
      display: grid;
      justify-items: center;
    }

    .fw-feature__title {
      margin-block-end: 20px;
    }

    .fw-feature__description {
      margin-block-end: 20px;
      max-width: 70ch;
    }

    .fw-feature__image {
      width: calc(325 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        width: calc(792 / 16 * 1rem);
      }
    }
  }

  /* Testimonial */
  .testimonial {
    color: var(--color-text-dark);
    .testimonial__wrapper {
      display: grid;
      justify-content: center;
    }

    .testimonial__icon {
      margin-block-end: 20px;
      width: calc(52 / 16 * 1rem);

      @media (width >= calc(600 / 16 * 1rem)) {
        margin-block-end: 30px;
        width: calc(78 / 16 * 1rem);
      }
    }

    .testimonial__author-quote {
    }

    .testimonial__blockquote {
      margin-block-end: 30px;

      @media (width >= calc(600 / 16 * 1rem)) {
        margin-block-end: 40px;
      }
    }

    .testimonial__quote-text {
      font-size: var(--font-size-testmonial);
      font-weight: 700;
      max-width: 42ch;
    }

    .testimonial__author-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      @media (width >= calc(600 / 16 * 1rem)) {
        flex-direction: row;
        gap: 30px;
      }
    }

    .testimonial__author-image {
      width: calc(120 / 16 * 1rem);
      border-radius: 50%;
    }

    .testimonial__author-description {
      text-align: center;

      @media (width >= calc(600 / 16 * 1rem)) {
        text-align: left;
      }
    }
  }

  /* CTA */
  .cta {
    background: linear-gradient(
      to right,
      var(--color-cta-gradient1) 0%,
      var(--color-cta-gradient2) 75%,
      var(--color-cta-gradient3) 145%
    );
    color: var(--color-text-light);
    text-align: center;

    @media (width >= calc(600 / 16 * 1rem)) {
      background: linear-gradient(
        to right,
        var(--color-cta-gradient1) 0%,
        var(--color-cta-gradient2) 50%,
        var(--color-cta-gradient3) 115%
      );
    }

    .cta__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cta__title {
      margin-block-end: 20px;
    }

    .cta__content {
      margin-block-end: 40px;
    }

    .cta__button {
      color: var(--color-button-cta-text);
      background-color: var(--color-button-cta-bg);
      padding: 10px 14px;
      border: 2px solid var(--color-button-cta-border);

      &:hover {
        background-color: var(--color-button-cta-bg-hover);
        color: var(--color-button-cta-text-hover);
      }
    }
  }

  /* Footer */
  .footer {
    color: var(--color-text-dark);

    .footer__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 20px;

      @media (width >= calc(600/ 16 * 1rem)) {
        grid-template-columns: repeat(4, auto);
      }
    }

    .footer__footer-top {
      margin-block-end: 40px;
      grid-column: 1 / -1;
    }

    .footer__homelink {
      display: block;
      width: fit-content;
    }

    .footer__copyright {
      margin-block-start: 10px;
    }

    .footer__column {
    }

    .footer__title {
      margin-block-end: 6px;
      font-size: var(--font-size-footer);
    }

    .footer__links {
      display: grid;
      gap: 6px;
    }

    .footer__item {
    }

    .footer__link {
      display: inline-flex;
      gap: 16px;
      color: var(--color-text-dark);
      transition: color 150ms ease-in-out;

      &:hover {
        color: var(--color-footer-link-hover);

        .footer__social-path {
          fill: var(--color-footer-link-hover);
        }
      }
    }

    .footer__social-svg {
      width: calc(18 / 16 * 1rem);
    }

    .footer__social-path {
      transition: flll 150ms ease-in-out;
      fill: var(--color-text-dark);
    }
  }
}

@layer utility {
  .visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;

    &.skip:focus {
      background-color: #fff;
      width: auto;
      height: auto;
      padding: 10px;
      border: 1px solid blue;
      left: 0;
    }
  }

  .hover-fade {
    transition: opacity 150ms ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}
